@model EdtechTest2.Areas.Admin.ViewModels.AdminHomeViewModel
@{
    ViewData["Title"] = "Index";
}
<br />
<br />

<div class="bg-light">
    <div class="d-flex justify-content-between ">
        <div class="p-4 border border-dark bg-secondary  ">

            <div class="d-flex flex-column">
                <div class="p-2"><h3 class="text-white">Number Of Students</h3></div>
                <div class="p-2"><h2 class="text-center  text-white ">@Model.NumberOfStudents</h2></div>

            </div>

        </div>
        <div class="p-4 border border-dark bg-secondary ">

            <div class="d-flex flex-column">
                <div class="p-2"><h3 class=" text-white">Number Of Instructor  </h3></div>
                <div class="p-2"><h2 class="text-center  text-white">@Model.NumberOfInstructor</h2></div>

            </div>

        </div>
        <div class="p-4 border border-dark  bg-secondary ">

            <div class="d-flex flex-column">
                <div class="p-2"><h3 class=" text-white">Number of Courses</h3></div>
                <div class="p-2"><h2 class="text-center  text-white">@Model.NumberOfCourse</h2></div>
                <button type="button" class="btn btn-light">Light</button>

            </div>


        </div>



    </div>
    <br />
    <div class="d-flex justify-content-between ">
        <div class="p-4 border border-dark bg-secondary  ">

            <div class="d-flex flex-column">
                <div class="p-2"><h3 class="text-white">Course Selled Today</h3></div>
                <div class="p-2"><h2 class="text-center  text-white ">@Model.CoursesSelledToday</h2></div>
                <button type="button" class="btn btn-light">Light</button>

            </div>

        </div>
        <div class="p-4 border border-dark bg-secondary ">

            <div class="d-flex flex-column">
                <div class="p-2"><h3 class=" text-white">Total Number Of Course Selled </h3></div>
                <div class="p-2"><h2 class="text-center  text-white">@Model.TotalNumberOfCoursesSelled</h2></div>
                <button type="button" class="btn btn-light">Light</button>

            </div>

        </div>
        <div class="p-4 border border-dark  bg-secondary ">

            <div class="d-flex flex-column">
                <div class="p-2"><h3 class=" text-white">Total Revenue Today</h3></div>
                <div class="p-2"><h2 class="text-center  text-white">@Model.TotalrevenueToday</h2></div>
                <button type="button" class="btn btn-light">Light</button>

            </div>


        </div>



    </div>
    <br />
    <div class="d-flex justify-content-between ">
        <div class="p-4 border border-dark bg-secondary  ">

            <div class="d-flex flex-column">
                <div class="p-2"><h3 class="text-white">Revenue Till Now</h3></div>
                <div class="p-2"><h2 class="text-center  text-white ">@Model.RevenueTillNow</h2></div>
                <button type="button" class="btn btn-light">Light</button>

            </div>


        </div>

        <div class="p-4 border border-dark bg-secondary  ">

            <div class="d-flex flex-column">
                <div class="p-2"><h3 class="text-white"> Courses  Pending For Approval</h3></div>
                <div class="p-2"><h2 class="text-center  text-white ">@Model.CoursesPendingForApproval</h2></div>
                <a  asp-area="Admin" asp-controller="Course"  asp-action="PendingCourse" class="btn btn-light"> Go To Course Approve Panel </a>

            </div>

        </div>
      

    </div>




@*<div class="row">



        <div class="d-flex justify-content-around">






                <div class="column" align="center">

                    <div class="row">
                        <h2>Number of Students</h2>
                    </div>
                    <div class="row">
                        <h1>1022</h1>
                    </div>

                </div>




        </div>


        <div class="col-md-3 p-4  bg-light m-4">
            <div class="row">
                <h2>Number of Instructor</h2>
            </div>
            <div class="row">
                <h1>10</h1>
            </div>
        </div>

        <div class="col-md-3 p-4  bg-light m-4">

            <div class="row">
                <h2>Number of Courses </h2>
            </div>
            <div class="row">
                <h1>1022</h1>
            </div>
        </div>


    </div>*@

